{% extends "base.html" %}

{% block title %}员工管理{% endblock%}


{% block styles %}
    {{ super() }}
    <style>
     #fittings_ModalLabel{text-align:center}
     #table_container{border-top:0}
     input[name="performance_number"],
     input[name="assist_performance_number"],
     input[name="complete_performance_number"],
     input[name="remarks_performance_number"]{
	 	width:10%;
		display:inline-block;
    }
     input[name="performance_date"],
     input[name="assist_performance_date"],
     input[name="complete_performance_date"],
     input[name="remarks_performance_date"]{
	 	width:20%;
		display:inline-block;
    }
    </style>


{% endblock %}




{% block content %}

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-11">
                    <h4 align="center" >员工绩效记录</h4>

                </div>
                
            </div>

            <div id="toolbar" >
                <button id='remove' class="btn btn-danger" disabled>
                    <i class="glyphicon glyphicon-remove"></i> 删除
                </button>

                <button id="add" class="btn btn-success" >
                    <i class="glyphicon glyphicon-plus"></i> 增加
                </button>
            </div>

            <div class="row" >
                <div class="col-md-12" >

                    <ul id="myTab" class="nav nav-tabs">
	               <li><a href="#Jan" data-toggle="tab">一月</a></li>
	               <li><a href="#Feb" data-toggle="tab">二月</a></li>
	               <li><a href="#Mar" data-toggle="tab">三月</a></li>
	               <li><a href="#Apr" data-toggle="tab">四月</a></li>
	               <li><a href="#May" data-toggle="tab">五月</a></li>
	               <li><a href="#Jun" data-toggle="tab">六月</a></li>
	               <li><a href="#Jul" data-toggle="tab">七月</a></li>
	               <li class="active"><a href="#Aug" data-toggle="tab">八月</a></li>
	               <li><a href="#Sep" data-toggle="tab">九月</a></li>
	               <li><a href="#Oct" data-toggle="tab">十月</a></li>
	               <li><a href="#Nov" data-toggle="tab">十一月</a></li>
	               <li><a href="#Dec" data-toggle="tab">十二月</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">

             <div class="tab-pane fade" id="Aug">
      
             </div>

             <div class="fixed-table-container" id="table_container">
                 <div class="fixed-table-header" >
                     <table class="table table-hover" id="table">

                     </table>
                 </div>
             </div>
          </div>

          </div>
          </div>
        </div>
        </div>
        <!-- /page content -->

        <!-- 工作内容模态框（Modal） -->
	<div class="modal fade" id="content_Modal" tabindex="-1" role="dialog"
   	    aria-labelledby="contentLabel" aria-hidden="true" >
   	<div class="modal-dialog" style="width:700px;" >
            <div class="modal-content">
                <div class="modal-header">
            	<button type="button" class="close"
               	    data-dismiss="modal" aria-hidden="true">
                    &times;
            	</button>
            	<h4 class="modal-title" style="text-align:center;">
               	        工作内容
            	</h4>
            </div>
            <div class="modal-body">
                
            <!-- page content -->
            <div class="center_col" role="main">
               <form class="form" id='form' role="form" method="post"  > 
		  <p>记录序号: <input class="form-control"  name='performance_number' readonly="true" /> 日期: <input class="form-control"  name='performance_date' readonly="true" /></p>
                  <textarea name="content_textarea" class="form-control  content_textarea" style="height:400px;" value='{{ content_textarea }}'></textarea>
               </form>

            </div>
        
        </div>
        
        <!-- /page content -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                   data-dismiss="modal">关闭
                </button>
                <button type="button" id='content_save' class="btn btn-primary">
                  <i class="glyphicon glyphicon-check"></i> 保存
            	</button>
            </div>

          </div><!-- /.modal-content -->
	</div><!-- /.modal -->

        <!-- 需协助工作内容模态框（Modal） -->
	<div class="modal fade" id="assist_content_Modal" tabindex="-1" role="dialog"
   	    aria-labelledby="assistContentLabel" aria-hidden="true" >
   	<div class="modal-dialog" style="width:700px;" >
            <div class="modal-content">
                <div class="modal-header">
            	<button type="button" class="close"
               	    data-dismiss="modal" aria-hidden="true">
                    &times;
            	</button>
            	<h4 class="modal-title" style="text-align:center;">
               	        需协助工作内容
            	</h4>
            </div>
            <div class="modal-body">
                
            <!-- page content -->
            <div class="center_col" role="main">
               <form class="form" id='assist_form' role="form" method="post"  > 
		  <p>记录序号: <input class="form-control"  name='assist_performance_number' readonly="true" /> 日期: <input class="form-control"  name='assist_performance_date' readonly="true" /></p>
                  <textarea name="assist_content_textarea" class="form-control  assist_content_textarea" style="height:400px;" value='{{ assist_content_textarea }}'></textarea>
               </form>

            </div>
        
        </div>
        
        <!-- /page content -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                   data-dismiss="modal">关闭
                </button>
                <button type="button" id='assist_content_save' class="btn btn-primary">
                  <i class="glyphicon glyphicon-check"></i> 保存
            	</button>
            </div>

          </div><!-- /.modal-content -->
	</div><!-- /.modal -->


        <!-- 完成情况模态框（Modal） -->
	<div class="modal fade" id="complete_Modal" tabindex="-1" role="dialog"
   	    aria-labelledby="completeLabel" aria-hidden="true" >
   	<div class="modal-dialog" style="width:700px;" >
            <div class="modal-content">
                <div class="modal-header">
            	<button type="button" class="close"
               	    data-dismiss="modal" aria-hidden="true">
                    &times;
            	</button>
            	<h4 class="modal-title" style="text-align:center;">
               	        完成情况
            	</h4>
            </div>
            <div class="modal-body">
                
            <!-- page content -->
            <div class="center_col" role="main">
               <form class="form" id='complete_form' role="form" method="post"  > 
		  <p>记录序号: <input class="form-control"  name='complete_performance_number' readonly="true" /> 日期: <input class="form-control"  name='complete_performance_date' readonly="true" /></p>
                  <textarea name="complete_content_textarea" class="form-control  complete_content_textarea" style="height:400px;" value='{{ complete_content_textarea }}'></textarea>
               </form>

            </div>
        
        </div>
        
        <!-- /page content -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                   data-dismiss="modal">关闭
                </button>
                <button type="button" id='complete_content_save' class="btn btn-primary">
                  <i class="glyphicon glyphicon-check"></i> 保存
            	</button>
            </div>

          </div><!-- /.modal-content -->
	</div><!-- /.modal -->


        <!--  备注模态框（Modal） -->
	<div class="modal fade" id="remarks_Modal" tabindex="-1" role="dialog"
   	    aria-labelledby="remarkseLabel" aria-hidden="true" >
   	<div class="modal-dialog" style="width:700px;" >
            <div class="modal-content">
                <div class="modal-header">
            	<button type="button" class="close"
               	    data-dismiss="modal" aria-hidden="true">
                    &times;
            	</button>
            	<h4 class="modal-title" style="text-align:center;">
               	        备注
            	</h4>
            </div>
            <div class="modal-body">
                
            <!-- page content -->
            <div class="center_col" role="main">
               <form class="form" id='remarks_form' role="form" method="post"  > 
		  <p>记录序号: <input class="form-control"  name='remarks_performance_number' readonly="true" /> 日期: <input class="form-control"  name='remarks_performance_date' readonly="true" /></p>
                  <textarea name="remarks_content_textarea" class="form-control  remarks_content_textarea" style="height:400px;" value='{{ remarks_content_textarea }}'></textarea>
               </form>

            </div>
        
        </div>
        
        <!-- /page content -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                   data-dismiss="modal">关闭
                </button>
                <button type="button" id='remarks_content_save' class="btn btn-primary">
                  <i class="glyphicon glyphicon-check"></i> 保存
            	</button>
            </div>

          </div><!-- /.modal-content -->
	</div><!-- /.modal -->






{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
  

       function initTable() {
        //操作栏初始化
        //function operateFormatter(value, row, index) {
                //return [
            //'<a class="remove"  href="javascript:;" title="删除" disabled >',
            //'<i class="glyphicon glyphicon-remove"></i>','删除',
            //'</a>',' ',

           //].join('');
        //}


//        window.operateEvents = {
//
//           'click .remove': function (e, value, row, index) {   
//    
//                //alert(row.id);
//                $table.bootstrapTable('remove', {
//                   field: 'id',
//                   values: row.id
//                });
//
//                //$remove.prop('disabled', true);
//            },
          
//        };
               
        //先销毁表格
{#        $('#table').bootstrapTable('destroy');#}
        //初始化表格,动态从服务器加载数据
        $("#table").bootstrapTable({
{#            method: "get",  //使用get请求到服务器获取数据#}
            url: '/employee/performance_related_Aug/return_json',
            striped: true,  //表格显示条纹
            pagination: true, //启动分页
            pageSize: 50,  //每页显示的记录数
            pageNumber:1, //当前第几页
            pageList: [5, 10, 15, 20, 25,100,150,200],  //记录数可选列表
            search: true,  //是否启用查询
            showColumns: true,  //显示下拉框勾选要显示的列
            showRefresh: true,  //显示刷新按钮
            singleSelect: true,
            checkboxHeader:true,
            detailFormatter:true,
            checkboxHeader:true,
            uniqueId:"id",
            toolbar: '#toolbar',
            toolbarAlign:"left",
            sidePagination: "client",
            paginationVAlign:'top',
            paginationHAlign:'right',
            showExport:true,
            exportDataType: 'all',
//            basic', 'all', 'selected' 
            sortOrder: 'desc',
            locale: "zh-CN",
            showFooter:false,
            columns: [{
                field: 'state',
                checkbox: true,

            },{
                field: 'id',
                title: 'ID',
                align: 'center',
                sortable: true,

            },{
                field: 'date',
                title: '日期',
                align: 'center',   
                sortable: true,    
                editable: {
                    type: 'text',
                    emptytext: "日期",  
                    title: '日期',
                    validate: function (value) {
                        value = $.trim(value);
                        if (!value) {
                            return 'This field is required';
                        }
                    },
                },
            },{
                field: 'name',
                title: '姓名',
                align: 'center',         
            },{
                field: 'place',
                title: '工作地点',
                align: 'center',
                editable: {
                    type: 'select',
                    title: '工作地点',
                    emptytext: '选择',
                    source: [
                         { value: '南城', text: '南城' },
                         { value: '华科城', text: '华科城' },
                         { value: '深圳', text: '深圳' },
			 { value: '出差', text: '出差' },
                    ]
                },                    
            },{
                field: 'content',
                title: '工作内容',
                align: 'center',                     
            },{
                field: 'assist_content',
                title: '需协助工作内容',
                align: 'center',
            },{
                field: 'chief_reply',
                title: '上级回复',
                align: 'center',
            },{
                field: 'complete',
                title: '完成情况',
                align: 'center',
            },{
                field: 'integration',
                title: '积分',
                align: 'center',                 
            },{
                field: 'remarks',
                title: '备注',
                align: 'center',
            }],

            queryParamsType : "undefined",

            onEditableSave: function (field, row, oldValue, $el) {
                $.ajax({
                    type: "post",
                    url: "/employee/performance_related_Aug",
                    data: {
                        'row':row,
                        'oldValue':oldValue,
                    },
                    dataType: 'JSON',
                    success: function (data, status) {
                        if (status == "success") {

                        }
                    },

                    complete: function () {

                    }
                });
            }
        });
      }

    $(document).ready(function () {

      $('#myTab a').click(function (e) {
         var href = $(this).attr('href');
         if(href=='#Jan'){
             window.location.href = "{{ url_for('main.performance_related_Jan') }}";
         }else if(href=='#Feb'){
             window.location.href = "{{ url_for('main.performance_related_Feb') }}";
         }else if(href=='#Mar'){
             window.location.href = "{{ url_for('main.performance_related_Mar') }}";
         }else if(href=='#Apr'){
             window.location.href = "{{ url_for('main.performance_related_Apr') }}";
         }else if(href=='#May'){
             window.location.href = "{{ url_for('main.performance_related_May') }}";
         }else if(href=='#Jun'){
             window.location.href = "{{ url_for('main.performance_related_Jun') }}";
         }else if(href=='#Jul'){
             window.location.href = "{{ url_for('main.performance_related_Jul') }}";
         }else if(href=='#Aug'){
             window.location.href = "{{ url_for('main.performance_related_Aug') }}";
         }else if(href=='#Sep'){
             window.location.href = "{{ url_for('main.performance_related_Sep') }}";
         }else if(href=='#Oct'){
             window.location.href = "{{ url_for('main.performance_related_Oct') }}";
         }else if(href=='#Nov'){
             window.location.href = "{{ url_for('main.performance_related_Nov') }}";
         }else if(href=='#Dec'){
             window.location.href = "{{ url_for('main.performance_related_Dec') }}";
         }else{
               $(this).tab('show');   
         }
         e.preventDefault();  

       }) 

          //调用函数，初始化表格
          initTable();

          function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id
            });
          }

          function getNameSelections() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.name
            });
          }

          var $table = $('#table'),$remove = $('#remove'),$add = $('#add');

          selections = [];

          $table.on('page-change.bs.table', function () {
            $('#table').bootstrapTable('scrollTo', '10px');
          });

          $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', function () {
            $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);

            // save your data, here just save the current page
                selections = getIdSelections();
            // push or splice the selections if you want to save all data selections

          });

	  $table.on('click-cell.bs.table', function (e, field, value, row, $element) {
	      if(field=="content"){
	          $('#content_Modal').modal({backdrop: 'static', show: 'toggle'});
                   var data = {
                   	get_performance_data:JSON.stringify({"performance_number":row.id}) 
               	   }               
                  $.ajax({
                    type: "post",
                    url: "/employee/performance_related_Aug",
                    async: false,
                    data:data,
                    dataType: 'JSON',
                    success: function (data, status) {
                        if (status == "success") {
               	  	    $('input[name="performance_number"]').val(row.id);
               	  	    $('input[name="performance_date"]').val(row.date);	
		 	    $('.content_textarea').val(data[0]["content"]);
                        }
                    },
                    complete: function () {
                    }
                });

	      }    
	      if(field=="assist_content"){
	          $('#assist_content_Modal').modal({backdrop: 'static', show: 'toggle'});
                   var data = {
                   	get_assist_performance_data:JSON.stringify({"assist_performance_number":row.id}) 
               	   }               
                  $.ajax({
                    type: "post",
                    url: "/employee/performance_related_Aug",
                    async: false,
                    data:data,
                    dataType: 'JSON',
                    success: function (data, status) {
                        if (status == "success") {
               	  	    $('input[name="assist_performance_number"]').val(row.id);
               	  	    $('input[name="assist_performance_date"]').val(row.date);	
		 	    $('.assist_content_textarea').val(data[0]["assist_content"]);
                        }
                    },
                    complete: function () {
                    }
                });
	      }

	      if(field=="complete"){
	          $('#complete_Modal').modal({backdrop: 'static', show: 'toggle'});
                   var data = {
                   	get_complete_performance_data:JSON.stringify({"complete_performance_number":row.id}) 
               	   }               
                  $.ajax({
                    type: "post",
                    url: "/employee/performance_related_Aug",
                    async: false,
                    data:data,
                    dataType: 'JSON',
                    success: function (data, status) {
                        if (status == "success") {
               	  	    $('input[name="complete_performance_number"]').val(row.id);
               	  	    $('input[name="complete_performance_date"]').val(row.date);	
		 	    $('.complete_content_textarea').val(data[0]["complete"]);
                        }
                    },
                    complete: function () {
                    }
                });
	      }
 
	      if(field=="remarks"){
	          $('#remarks_Modal').modal({backdrop: 'static', show: 'toggle'});
                   var data = {
                   	get_remarks_performance_data:JSON.stringify({"remarks_performance_number":row.id}) 
               	   }               
                  $.ajax({
                    type: "post",
                    url: "/employee/performance_related_Aug",
                    async: false,
                    data:data,
                    dataType: 'JSON',
                    success: function (data, status) {
                        if (status == "success") {
               	  	    $('input[name="remarks_performance_number"]').val(row.id);
               	  	    $('input[name="remarks_performance_date"]').val(row.date);	
		 	    $('.remarks_content_textarea').val(data[0]["remarks"]);
                        }
                    },
                    complete: function () {
                    }
                });
	      }
	  });


          $table.on('all.bs.table', function (e, name, args) {
            console.log(name, args);
          });

          $remove.click(function () {
            var ids = getIdSelections();

            $.ajax({
                    type:'POST',
                    url:'/employee/performance_related_Aug',
                    async: false,
                    data:{
                        'ids':ids,

                    },
                    dataType:'json',
                    success:function(data){},
                    error:function(xhr,type){}
             });

            $table.bootstrapTable('remove', {
                field: 'id',
                values: ids
            });

            $remove.prop('disabled', true);
            });


          $add.click(function(){
{#              var ids = getIdSelections();#}
              $.ajax({
                    type: "post",
                    url: "/employee/performance_related_Aug",
                    async: false,
                    data:{
{#                        'ids':ids,#}
                        'add':'add_true'
                    },
                    dataType: 'JSON',
                    success: function (data, status) {
                        if (status == "success") {
                            alert('提交数据成功');
                        }
                    },
{#                    error: function () {#}
{#                        alert('编辑失败');#}
{#                    },#}
                    complete: function () {
                    }
                });

              $table.bootstrapTable('refresh', {url: '/employee/performance_related_Aug/return_json'});
              $table.bootstrapTable('selectPage','last')
          });

	 $('#content_save').click(function() {
            $('#form').submit();        
         })

	 $('#assist_content_save').click(function() {
            $('#assist_form').submit();        
         })

	 $('#complete_content_save').click(function() {
            $('#complete_form').submit();        
         })

	 $('#remarks_content_save').click(function() {
            $('#remarks_form').submit();        
         })
      });

    </script>

{% endblock %}

  </body>
</html>remakrs_performance_dateremakrs_performance_date
