{% extends "base.html" %}

{% block title %}费用报销{% endblock%}


{% block styles %}
    {{ super() }}
    <style>
	input[name="reimbursement_number"]{
	 	width:10%;
		display:inline-block;
	}

    </style>
{% endblock %}

{% block content %}
    <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-11">
                    <h4 align="center" >费用报销单</h4>
                </div>
            </div>

            <div id="toolbar">
                <button id="remove" class="btn btn-danger" disabled>
                    <i class="glyphicon glyphicon-remove"></i> 删除
                </button>

                <button id="add" class="btn btn-success" >
                    <i class="glyphicon glyphicon-plus"></i> 增加
                </button>
             

            </div>

            <br>
            <div class="row" >
                    <div class="col-md-12" >
                        <div class="fixed-table-container" >
                            <div class="fixed-table-header" >
                                <table class="table table-hover  " id="table" >

                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>
        <!-- /page content -->


	<!-- 配件成本模态框（Modal） -->
	<div class="modal fade" id="purpose_Modal" tabindex="-1" role="dialog"
   	    aria-labelledby="purposeLabel" aria-hidden="true" >
   	<div class="modal-dialog" style="width:900px;">
            <div class="modal-content">
                <div class="modal-header">
            	<button type="button" class="close"
               	    data-dismiss="modal" aria-hidden="true">
                    &times;
            	</button>
            	<h4 class="modal-title" style="text-align:center">
               	       报销用途
            	</h4>
            </div>
            <div class="modal-body">

               

            <!-- page content -->
            <div class="center_col" role="main">
	    <form class="form" id='form' role="form" method="post"  > 
	    <p>报销单编号:<input class="form-control"  name='reimbursement_number' readonly="true" /></p> 
            <div class="row" >
                    <div class="col-md-12" >                       
                        <br>
                        <div class="fixed-table-container" >
                            <div class="fixed-table-header" >
                                <table class="table table-hover  " id="table" >           
   			           <thead>
      				   <tr>
         			       <th>id</th>
        			       <th>用途</th>
         			       <th>金额(元)</th>
      				   </tr>
   				   </thead>
   				<tbody>
      				<tr>
         			    <td >01</td>
         			    <td><input class="form-control" type='test' name='purpose1' value='{{ purpose1 }}' /></td>
         			    <td><input class="form-control" type='test' name='amount1' value='{{ amount1 }}' /></td>
      				</tr>
      				<tr>
         			    <td >02</td>
         			    <td><input class="form-control" type='test' name='purpose2' value='{{ purpose2 }}' /></td>
         			    <td><input class="form-control" type='test' name='amount2' value='{{ amount2 }}' /></td>
      				</tr>
      				<tr>
         			    <td >03</td>
         			    <td><input class="form-control" type='test' name='purpose3' value='{{ purpose3 }}' /></td>
         			    <td><input class="form-control" type='test' name='amount3' value='{{ amount3 }}' /></td>
      				</tr>
       				<tr>
         			    <td >04</td>
         			    <td><input class="form-control" type='test' name='purpose4' value='{{ purpose4 }}' /></td>
         			    <td><input class="form-control" type='test' name='amount4' value='{{ amount4 }}' /></td>
      				</tr>
       				
   				</tbody>

                                </table>

                            </div>
                        </div>
                    </div>
            </form>
            </div>
          </div>       
        </div>
        <!-- /page content -->

        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                   data-dismiss="modal">关闭
                </button>
                <button type="button" id='purpose_save' class="btn btn-primary">
                  <i class="glyphicon glyphicon-check"></i> 保存
            	</button>
            </div>

          </div><!-- /.modal-content -->
	</div><!-- /.modal -->
        <!-- /page content -->.

        <!-- footer content -->
        <footer>

          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
{% endblock %}


{% block scripts %}
    {{ super() }}
        <script>
        function initTable() {

        window.operateEvents = {
   
        };

        //先销毁表格
{#        $('#table').bootstrapTable('destroy');#}
        //初始化表格,动态从服务器加载数据
        $("#table").bootstrapTable({
{#            method: "get",  //使用get请求到服务器获取数据#}
            url: '/payment/reimbursement/return_json',
            striped: true,  //表格显示条纹
            pagination: true, //启动分页
            pageSize: 25,  //每页显示的记录数
            pageNumber:1, //当前第几页
            pageList: [5, 10, 15, 20, 25,50],  //记录数可选列表
            search: true,  //是否启用查询
            showColumns: true,  //显示下拉框勾选要显示的列
            showRefresh: true,  //显示刷新按钮
            singleSelect: true,
            checkboxHeader:true,
            detailFormatter:true,
            checkboxHeader:true,
            uniqueId:"id",
            toolbar: '#toolbar',
            toolbarAlign:"left",
            sidePagination: "client",
            paginationVAlign:'top',
            paginationHAlign:'right',
            showExport:true,
            exportDataType: 'all',
{#            basic', 'all', 'selected'.#}
            sortOrder: 'desc',
            locale: "zh-CN",
            columns: [{
                field: 'state',
                checkbox: true,

            },{
                field: 'number',
                title: '编号',
                align: 'center',
                sortable: true,

            },{
                field: 'date',
                title: '日期',
                align: 'center',
                editable: {
                    type: 'text',
                    title: '日期',
	        }
            },{
                field: 'purchase_order',
                title: '合同号',
                align: 'center',
                editable: {
                    type: 'text',
                    title: '合同号',
	        }

            },{
                field: 'remark',
                title: '备注',
                align: 'center',
                editable: {
                    type: 'text',
                    title: '备注',
                }

            },{
                field: 'purpose_all',
                title: '用途',
                align: 'center',
            },{
                field: 'sum_amount',
                title: '总金额',
                align: 'center',

            },{
                field: 'loan',
                title: '原借款',
                align: 'center',
                editable: {
                    type: 'text',
                    title: '原借款',
	        }
            },{
                field: 'residue',
                title: '应退余额',
                align: 'center',
                editable: {
                    type: 'text',
                    title: '应退余额',
                }
            },{
                field: 'rei_name',
                title: '报销人',
                align: 'center',
                editable: {
                    type: 'text',
                    title: '报销人',
                }
            },{ 
                field: 'payee',
                title: '领款人',
                align: 'center',
                editable: {
                    type: 'text',
                    title: '领款人',
                }
            }
           ],

            queryParamsType : "undefined",

            onEditableSave: function (field, row, oldValue, $el) {
                $.ajax({
                    type: "post",
                    url: "/payment/reimbursement",
                    data: {
                        'row':row,
                        'oldValue':oldValue,
                    },
                    dataType: 'JSON',
                    success: function (data, status) {
                        if (status == "success") {
                            //alert('提交数据成功');
                        }
                    },
{#                    error: function () {#}
{#                        alert('编辑失败');#}
{#                    },#}
                    complete: function () {

                    }
                });
            }
        });

        function operateFormatter(value, row, index) {
                return [
            '<a class="write_purposes" href="javascript:;" title="编写各项用途和金额">',
{#            '<i class="glyphicon glyphicon-remove"></i>',#}'用途',
            '</a>',' ',
           ].join('');
        }
      }

      $(document).ready(function () {
          //调用函数，初始化表格
          initTable();

          function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.number
            });
          }

          function getOrderSelections() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.purchase_order
            });
          }

          var $table = $('#table'),$remove = $('#remove'),$add = $('#add');
        
          selections = [];
           
          $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', function () {
            $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
            
            // save your data, here just save the current page
                selections = getIdSelections();
            // push or splice the selections if you want to save all data selections

            });

	 $table.on('click-cell.bs.table', function (e, field, value, row, $element) {
	   if(field=="purpose_all"){


	           $('#purpose_Modal').modal('toggle');
                        var data = {
                   	get_number_data:JSON.stringify({"number":row.number}) 
               	   }               
                  $.ajax({
                    type: "post",
                    url: "/payment/reimbursement",
                    async: false,
                    data:data,
                    dataType: 'JSON',
                    success: function (data, status) {
                        if (status == "success") {
			    $('input[name="reimbursement_number"]').val(row.number);
			    $('input[name="purpose1"]').val(data[0]['purpose1']);
			    $('input[name="amount1"]').val(data[0]['amount1']);
			    $('input[name="purpose2"]').val(data[0]['purpose2']);
			    $('input[name="amount2"]').val(data[0]['amount2']);
			    $('input[name="purpose3"]').val(data[0]['purpose3']);
			    $('input[name="amount3"]').val(data[0]['amount3']);
			    $('input[name="purpose4"]').val(data[0]['purpose4']);
			    $('input[name="amount4"]').val(data[0]['amount4']);		
                        }
                    },
                    complete: function () {
                    }
                });
	       } 

	       
          });
	 



          $('#purpose_save').click(function() {	      
             $('#form').submit();            
          })

          $table.on('all.bs.table', function (e, name, args) {
            console.log(name, args);
          });

          $remove.click(function () {
            var number = getIdSelections();
	    var order = getOrderSelections();
            $.ajax({
                    type:'POST',
                    url:'/payment/reimbursement',
                    async: false,
                    data:{
                        'remove_number':number,
                        'remove_order': order
                    },
                    dataType:'json',
                    success:function(data){},
                    error:function(xhr,type){}
             });

            $table.bootstrapTable('remove', {
                field: 'number',
                values: number
            });

            $remove.prop('disabled', true);
          });

          $add.click(function(){
{#              var ids = getIdSelections();#}
              $.ajax({
                    type: "post",
                    url: "/payment/reimbursement",
                    async: false,
                    data:{
                        'add':'add_true'
                    },
                    dataType: 'JSON',
                    success: function (data, status) {
                        if (status == "success") {
                            alert('提交数据成功');
                        }
                    },
{#                    error: function () {#}
{#                        alert('编辑失败');#}
{#                    },#}
                    complete: function () {
                    }
                });

              $table.bootstrapTable('refresh', {url: '/payment/reimbursement/return_json'});
              $table.bootstrapTable('selectPage','last')
          });

          //当点击查询按钮的时候执行
{#          $("#search").bind("click", initTable);#}
      });

    </script> 


{% endblock %}








 
  </body>
</html>
